
/* 
.main {
}
.contaner-main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 96px 0px 0px 0px;
}
.steps {
}
.steps-title {
    display: flex;
    justify-content: center;
}
.steps-subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    
}
.steps1-2 {
    display: flex;
    justify-content: center;
    
}
.steps1 {
    
    
}
.steps-text1 {
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
}
.steps-text2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.steps-text3 {
    font-size: 16px;
    line-height: 21px;

}
.steps2 {
}
.steps3-4 {
    display: flex;
    justify-content: center;
}
.steps3 {
}
.steps4 {
} */
