@import url(./baner.css);
@import url(./steps.css);
@import url(./price.css);
@import url(./auto.css);
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    font-size: 16px;
}

body {
    font-family: "Comforter", cursive;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    --yellow: #fed100;
    --black: #333333;
    --red: #ff352b;
    --white: #fff;
}

.wrapper {
    overflow: hidden;
}